@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for Firefox/Chrome */
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* iOS Momentum Scrolling */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.dark ::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d4beb1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #52525b;
}
::-webkit-scrollbar-thumb:hover {
  background: #a89f91;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}

/* Text Selection Color */
::selection {
  background-color: rgba(16, 185, 129, 0.3);
  color: inherit;
}

/* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}